.bibitem {
    text-align: left;
}

.maketitle {
    text-align: center;
    overflow: hidden;
}

/* Yet to differentiate the different colors of the boxes */
.tcolorbox {
    background-color: #F2F2F2;
    border-color: #404040;
    border-radius: 15px;
    border: 1px solid #404040;
    padding: 15px;
    padding-top: 0px;
    margin-top: 10px;
}

.tcolorbox .tcolorbox-title {
    font-size: 1.2em;
    font-weight: bold;
    color: #404040;
    margin-bottom: 10px;
}

dt.description {
    font-weight: 800;
}

/* URLs in the bibliograph make justified text ugly */
p.bibitem {
    text-align: left;
}

/* Listings line numbers */
.listings span.ecrm-0600 {
    font-size: smaller;
    padding-right: 20px;
}
