.bibitem {
    text-align: left;
}

.maketitle {
    text-align: center;
    overflow: hidden;
}

/* Yet to differentiate the different colors of the boxes */
.tcolorbox {
    background-color: #F2F2F2;
    border-color: #404040;
    border-radius: 15px;
    border: 1px solid #404040;
    padding: 15px;
    padding-top: 0px;
    margin-top: 10px;
}

.tcolorbox .tcolorbox-title {
    font-size: 1.2em;
    font-weight: bold;
    color: #404040;
    margin-bottom: 10px;
}

/* Disable default border */
.tcolorbox-content {
    border: none!important;
}

/* Disable footnotes that are too small */
.footnotes p {
    font-size: 100%;
}

dt.description {
    font-weight: 800;
}

/* URLs in the bibliograph make justified text ugly */
p.bibitem {
    text-align: left;
}

.lstlisting {
    text-align: left;
}
.listings {
    text-align: left;
}

/* Listings line numbers */
.listings span.label {
    font-size: smaller;
    padding-right: 20px;
}

/* Disable default listings border */
.framedenv {
    border: none;
}

/* Override fixed widths for figures */
.figure img {
    width: 100%;
}

/* Side-by-side description */
dl.description {
  display: flex;
  flex-wrap: wrap;
}
dt.description {
  width: 25%;
}
dd.description {
  margin-left: auto;
  width: 75%;
}
