openapi: 3.1.1
info:
  title: AgeOverflow
  description: |
    **DRAFT** This Specification is currently in **DRAFT**.

    An API service for analysing photo sets to determine the users generational cohort and estimated age range.

    **DRAFT** This Specification is currently in **DRAFT**.
  contact:
    name: CSSE6400
    url: https://csse6400.uqcloud.net
    email: noreply@uq.edu.au
  version: 0.9
servers:
- url: http://analysis.csse6400.uqcloud.net/api/v1
tags:
- name: email
  description: Age verification status
paths:
  /health:
    get:
      tags:
      - analysis
      summary: Query the health of the service.
      description: |
        The health endpoint is useful for determining whether an instance is still healthy.
        This can help if you are configuring auto-scaling groups or load balancers.

        We do not specify the response payload for this endpoint,
        however you may find it useful to return a more detailed status of your system.
        For example: https://eloquentcode.com/rest-api-design-health-check-endpoint
      responses:
        200:
          description: Service is healthy.
          content: {}
        500:
          description: Service is not healthy.
          content: {}
        503:
          description: Service is not healthy.
          content: {}
  /analysis/{customer_id}/requests:
    get:
      tags:
      - analysis
      summary: List all submitted requests for a given customer.
      description: |
        Returns a list of all requests submitted for the given customer id with the optional filters applied. The limit and offset parameters are used for stepping through blocks of users / paging through the results. If the offset is greater than the amount of entries that exist then an empty array should be returned.
        
        If there are no requests associated with the given customer id, an empty array should be returned.

        All other parameters are used to filter the results and should be applied before the limit and offset parameters. e.g. if 300 results exists and 200 are labelled as generation X then a request of limit=100 and generation="GENERATION_X" should return 100 results. If limit=100, generation="GENERATION_X", and offset=200 then the response should be 0 results (an empty array).

        The filters are additive and as such if the filter is not in the request then it should not be applied. e.g. if generation="GENERATION_X" is not in the request then all requests should be returned regardless of their status. The exception to this is the limit and offset parameters which have defaults which are applied if they are not in the request.
      parameters:
      - name: customer_id
        in: path
        description: The customer identifier is a UUIDv4.
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: |
          Return only this many results.
          0 < limit <= 1000.
          Default is 100.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          default: 100
        example: 20
      - name: offset
        in: query
        description: |
          Skip this many results before returning.
          0 <= offset.
          Default is 0.
        schema:
          type: integer
          minimum: 0
          default: 0
        example: 0
      - name: start
        in: query
        description: |
          Only return results submitted from this date.
          The date should be in RFC3339 format.
        schema:
          type: string
          format: date-time
          example: 2026-02-21T13:10:05Z
      - name: end
        in: query
        description: |
          Only return results submitted before this date.
          The date should be in RFC3339 format.
        schema:
          type: string
          format: date-time
          example: 2026-02-21T14:10:05Z
      - name: user_id
        in: query
        description: |
          Only return results submitted with this user identifier.
          The user identifier is a UUID.
        schema:
          type: string
        example: 'b6a6671c-f04c-47f8-a4d3-11374f0d75cb'
      - name: state
        in: query
        description: |
          Only return requests with this state.
          The state should be one of 'pending', 'scanned', 'failed'.
        schema:
          type: string
          enum:
            - pending
            - scanned
            - failed
        example: 'scanned'
      - name: generation
        in: query
        description: |
          Only return requests that have the highest chance of being from this generation.
        schema:
          type: string
          enum:
            - 'silent'
            - 'baby_boomers'
            - 'x'
            - 'y'
            - 'z'
            - 'alpha'
          example: 'z'
      responses:
        200:
          description: List of all results, with the filters applied.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Analysis'
        400:
          description: |
            Invalid customer_id or query parameters.

            Return value is not specified but should describe the error.
        500:
          description: |
            An unknown error occurred trying to process the request.

            Return value is not specified but should describe the error.
    post:
      tags:
      - analysis
      summary: Post a new analysis request.
      description: |
        If the customer account does not exist, it will be created.
      parameters:
      - name: customer_id
        in: path
        description: The customer identifier is a UUIDv4.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalysisCreate'
        required: true
      responses:
        201:
          description: The analysis request has been successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Analysis'
        400:
          description: |
            Body/Path parameter was malformed or invalid.

            Return value is not specified but should describe the error.
          content: {}
        500:
          description: |
            An unknown error occurred trying to process the request.

            Return value is not specified but should describe the error.
      x-codegen-request-body-name: body
  /analysis/{customer_id}/requests/{request_id}:
    get:
      tags:
      - analysis
      summary: Get request by identifier.
      description: |
        Returns a individual result by its ID.
      parameters:
      - name: customer_id
        in: path
        description: The customer identifier is a UUIDv4.
        required: true
        schema:
          type: string
      - name: request_id
        in: path
        description: The request identifier is a UUID.
        required: true
        schema:
          type: string
      responses:
        200:
          description: Details of the request and its current status are returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Analysis'
        400:
          description: |
            Path parameters were malformed or invalid.

            Return value is not specified but should describe the error.
          content: {}
        404:
          description: |
            customer_id or request_id are not found in the database.

            Return value is not specified but should describe the error.
          content: {}
        500:
          description: |
            An unknown error occurred trying to process the request.

            Return value is not specified but should describe the error.
  /analysis/{customer_id}/users:
    get:
      tags:
      - analysis
      summary: List all users for a given customer.
      description: |
        Returns a list of all users for the given customer id with the optional filters applied. The limit and offset parameters are used for stepping through blocks of users / paging through the results. If the offset is greater than the amount of entries that exist then an empty array should be returned.
        
        If there are no users associated with the given customer id, an empty array should be returned.
      parameters:
      - name: customer_id
        in: path
        description: The customer identifier is a UUIDv4.
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: |
          Return only this many results.
          0 < limit <= 1000.
          Default is 100.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          default: 100
        example: 20
      - name: offset
        in: query
        description: |
          Skip this many results before returning.
          0 <= offset.
          Default is 0.
        schema:
          type: integer
          minimum: 0
          default: 0
        example: 40
      responses:
        200:
          description: List of all results, with the filters applied.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
        400:
          description: |
            Invalid customer_id or query parameters.

            Return value is not specified but should describe the error.
        500:
          description: |
            An unknown error occurred trying to process the request.

            Return value is not specified but should describe the error.
  /analysis/{customer_id}/users/{user_id}:
    get:
      tags:
      - analysis
      summary: Get user by identifier.
      description: |
        Return an individual user by their ID.
      parameters:
      - name: customer_id
        in: path
        description: The customer identifier is a UUIDv4. 
        required: true
        schema:
          type: string
      - name: user_id
        in: path
        description: The user's identifier is a UUID.
        required: true
        schema:
          type: string
      responses:
        200:
          description: Individual user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        400:
          description: |
            Path parameters were malformed or invalid.

            Return value is not specified but should describe the error.
          content: {}
        404:
          description: |
            customer_id or user_id are not found in the database.

            Return value is not specified but should describe the error.
          content: {}
        500:
          description: |
            An unknown error occurred trying to process the request.

            Return value is not specified but should describe the error.
  /analysis/{customer_id}/statistics:
    get:
      tags:
      - analysis
      summary: Get statistics for this client.
      description: |
        Returns a report of general statistics of the client. This report should be kept up-to-date with a maximum of five minutes delay.
      parameters:
      - name: customer_id
        in: path
        description: The customer identifier is a UUIDv4.
        required: true
        schema:
          type: string
      responses:
        200:
          description: A report consisting of key statistics of the client
          content:
            application/json:
              schema:
                type: object
                $ref: '#/components/schemas/Statistics'
        400:
          description: |
            Path parameter was malformed or invalid.

            Return value is not specified but should describe the error.
          content: {}
        404:
          description: |
            customer_id is not found in the database.

            Return value is not specified but should describe the error.
          content: {}
        500:
          description: |
            An unknown error occurred trying to process the request.

            Return value is not specified but should describe the error.
components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
          description: The user's unique identifier.
          example: "b6a6671c-f04c-47f8-a4d3-11374f0d75cb"
        results:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                description: The request's unique identifier
                example: "7635bd23-ced9-4f6f-9fae-afe52625d699"
              status:
                type: string
                enum:
                  - pending
                  - success
                  - failed
                description: The status of the analysis.
                example: "success"
              checksum:
                type: string
                description: Checksum to check for internal CSSE6400 validation.
              generation:
                type: string
                description: The primary generation of the request, if success.
              age:
                type: number
                description: The age of the user via the given request.
    Analysis:
      type: object
      properties:
        id:
          type: string
          description: The request's unique identifier.
          example: "7635bd23-ced9-4f6f-9fae-afe52625d699"
        user_id:
          type: string
          description: The user identifier to which this request is associated.
          example: "b6a6671c-f04c-47f8-a4d3-11374f0d75cb"
        created_at:
          type: string
          format: date-time
          description: The date and time the request was submitted as a RFC3339.
          example: 2024-02-21T13:10:05Z
        updated_at:
          type: string
          format: date-time
          description: The date and time the request was updated as a RFC3339, including its creation.
          example: 2024-02-21T13:10:05Z
        status:
          type: string
          enum:
            - pending
            - success
            - failed
          description: The status of the analysis.
          default: "pending"
          example: "success"
        result:
          type: object
          description: The results of the analysis, only populated (or the values are only well defined) if-and-only-if the status == 'success'
          properties:
            checksum:
              type: string
            generations:
              type: object
              properties:
                silent:
                  type: number
                baby_boomers:
                  type: number
                x:
                  type: number
                y:
                  type: number
                z:
                  type: number
                alpha:
                  type: number
            primary_generation:
              type: string
              enum:
                - 'silent'
                - 'baby_boomers'
                - 'x'
                - 'y'
                - 'z'
                - 'alpha'
            age:
              type: number
    AnalysisCreate:
      type: object
      properties:  
        user_id:
          type: string
          description: The user identifier to which this request is associated.
          example: "b6a6671c-f04c-47f8-a4d3-11374f0d75cb"
        urgent:
          type: boolean
          description: Flag to indicate whether this analysis request has higher processing priority than a standard request.
          default: false
          example: true
        photos:
          type: array
          items:
            type: string
          description: Post processed images encoded in base64 (for the purpose of this assignment these are not real images).
    Statistics:
      type: object
      properties:
        generated_at:
          type: string
          format: date-time
          description: The date and time these statistics are valid for (or the current time if statistics are always live)
          example: 2024-02-21T13:10:05Z
        contents:
          type: object
          description: ... Total num of users, count of users per generation, normalised bucket of age ranges per 5 years
          properties:
            placeholder:
              type: string