openapi: 3.0.1
info:
  title: SpamOverflow
  description: |
    An API service that 
  contact:
    name: CSSE6400
    url: https://csse6400.uqcloud.net
    email: noreply@uq.edu.au
  version: 0.1.0
servers:
- url: http://email.api.spamoverflow.com/api/v1
tags:
- name: email
  description: Malicious email service
paths:
  /health:
    get:
      tags:
      - email
      summary: Query the health of the service.
      description: |
        The health endpoint is useful for determining whether an instance is still healthy.
        This can help if you are configuring auto-scaling groups or load balancers.

        We do not specify the response payload for this endpoint,
        however you may find it useful to return a more detailed status of your system.
        For example: https://eloquentcode.com/rest-api-design-health-check-endpoint
      responses:
        200:
          description: Service is healthy.
          content: {}
        500:
          description: Service is not healthy.
          content: {}
        503:
          description: Service is not healthy.
          content: {}
  /customers/{id}/emails:
    get:
      tags:
      - email
      summary: List all submitted emails for a given customer.
      parameters:
      - name: user_id
        in: query
        description: Filter only the tickets purchased by the given user. This is an optional query parameter.
        schema:
          type: string
        example: "e571964f-f2b7-4200-9fb0-2af749092fa1"
      responses:
        200:
          description: List of all emails, as per request.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Email'
        404:
          description: Invalid customer id.
          content: {}
    post:
      tags:
      - email
      summary: Post a new email scan request.
      description: |
        If the customer account does not exist, it will be created.

        Emails should have an initial status of PENDING for the status field.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailPost'
        required: true
      responses:
        201:
          description: The ticket has been successfully created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Email'
        400:
          description: |
            Body parameter was malformed or invalid.
            This includes passing concerts or users that do not exist.

            Return value is not specified but should describe the error.
          content: {}
        422:
          description: Ticket purchase failed as no tickets were available (i.e. the concert has sold out).
          content: {}
        500:
          description: An unknown error occurred trying to process the request.

            Return value is not specified but should attempt to describe the error.
          content: {}
      x-codegen-request-body-name: body
  /customers/{id}/emails/{id}:
    get:
      tags:
      - email
      summary: Get information for a particular ticket.
      parameters:
      - name: id
        in: path
        description: The ticket identifier.
        required: true
        schema:
          type: string
      responses:
        200:
          description: Information about the requested ticket.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Email'
        404:
          description: The ticket does not exist.
          content: {}
  /customers/{id}/reports/actors:
    get:
      tags:
      - email
      summary: Get the printed ticket if it exists.
      parameters:
      - name: id
        in: path
        description: The ticket identifier.
        required: true
        schema:
          type: string
      responses:
        200:
          description: The printed ticket SVG.
          content:
            image/svg+xml:
              schema:
                type: string
                example: |
                  <?xml version="1.0"?>
                  <!-- Generated by SVGo -->
                  <svg width="1200" height="518"
                       xmlns="http://www.w3.org/2000/svg"
                       xmlns:xlink="http://www.w3.org/1999/xlink">
                  <desc>12345678-1234-1234-1234-123456789012</desc>
                  <rect x="0" y="0" width="1200" height="518" style="fill:rgb(255,255,255)" />
                  <rect x="0" y="0" width="200" height="518" style="fill:rgb(92,158,173)" />
                  <rect x="200" y="0" width="20" height="518" style="fill:rgb(50,98,115)" />
                  <circle cx="210" cy="100" r="50" style="fill:rgb(50,98,115)" />
                  <text x="300" y="100" style="text-anchor:left;font-size:36px;fill:black" >Phantom of the Opera</text>
                  <text x="300" y="150" style="text-anchor:left;font-size:24px;fill:black" >2023-06-07</text>
                  <text x="300" y="200" style="text-anchor:left;font-size:24px;fill:black" >Sydney Opera House</text>
                  <text x="300" y="250" style="text-anchor:left;font-size:24px;fill:black" >12345678-1234-1234-1234-123456789012</text>
                  <line x1="300" y1="300" x2="900" y2="300" style="stroke:rgb(0,0,0);stroke-width:2" />
                  <text x="300" y="350" style="text-anchor:left;font-size:24px;fill:black" >Evan Hughes</text>
                  <text x="300" y="400" style="text-anchor:left;font-size:24px;fill:black" >example@uq.edu.au</text>
                  <text x="300" y="450" style="text-anchor:left;font-size:24px;fill:black" >12345678-1234-1234-1234-123456789012</text>
                  <rect x="1190" y="0" width="10" height="518" style="fill:rgb(255,215,0)" />
                  <rect x="1000" y="80" width="150" height="1" style="fill:rgb(0,0,0)" />
                  ...
                  </svg>

        404:
          description: The ticket does not exist or has not been printed yet.
          content: {}
  /customers/{id}/reports/recipients:
    get:
      tags:
      - email
      summary: Get the printed ticket if it exists.
      parameters:
      - name: id
        in: path
        description: The ticket identifier.
        required: true
        schema:
          type: string
      responses:
        200:
          description: The printed ticket SVG.
          content:
            image/svg+xml:
              schema:
                type: string
                example: |
                  <?xml version="1.0"?>
                  <!-- Generated by SVGo -->
                  <svg width="1200" height="518"
                       xmlns="http://www.w3.org/2000/svg"
                       xmlns:xlink="http://www.w3.org/1999/xlink">
                  <desc>12345678-1234-1234-1234-123456789012</desc>
                  <rect x="0" y="0" width="1200" height="518" style="fill:rgb(255,255,255)" />
                  <rect x="0" y="0" width="200" height="518" style="fill:rgb(92,158,173)" />
                  <rect x="200" y="0" width="20" height="518" style="fill:rgb(50,98,115)" />
                  <circle cx="210" cy="100" r="50" style="fill:rgb(50,98,115)" />
                  <text x="300" y="100" style="text-anchor:left;font-size:36px;fill:black" >Phantom of the Opera</text>
                  <text x="300" y="150" style="text-anchor:left;font-size:24px;fill:black" >2023-06-07</text>
                  <text x="300" y="200" style="text-anchor:left;font-size:24px;fill:black" >Sydney Opera House</text>
                  <text x="300" y="250" style="text-anchor:left;font-size:24px;fill:black" >12345678-1234-1234-1234-123456789012</text>
                  <line x1="300" y1="300" x2="900" y2="300" style="stroke:rgb(0,0,0);stroke-width:2" />
                  <text x="300" y="350" style="text-anchor:left;font-size:24px;fill:black" >Evan Hughes</text>
                  <text x="300" y="400" style="text-anchor:left;font-size:24px;fill:black" >example@uq.edu.au</text>
                  <text x="300" y="450" style="text-anchor:left;font-size:24px;fill:black" >12345678-1234-1234-1234-123456789012</text>
                  <rect x="1190" y="0" width="10" height="518" style="fill:rgb(255,215,0)" />
                  <rect x="1000" y="80" width="150" height="1" style="fill:rgb(0,0,0)" />
                  ...
                  </svg>

        404:
          description: The ticket does not exist or has not been printed yet.
          content: {}
  /customers/{id}/reports/domains:
    get:
      tags:
      - email
      summary: Get the printed ticket if it exists.
      parameters:
      - name: id
        in: path
        description: The ticket identifier.
        required: true
        schema:
          type: string
      responses:
        200:
          description: The printed ticket SVG.
          content:
            image/svg+xml:
              schema:
                type: string
                example: |
                  <?xml version="1.0"?>
                  <!-- Generated by SVGo -->
                  <svg width="1200" height="518"
                       xmlns="http://www.w3.org/2000/svg"
                       xmlns:xlink="http://www.w3.org/1999/xlink">
                  <desc>12345678-1234-1234-1234-123456789012</desc>
                  <rect x="0" y="0" width="1200" height="518" style="fill:rgb(255,255,255)" />
                  <rect x="0" y="0" width="200" height="518" style="fill:rgb(92,158,173)" />
                  <rect x="200" y="0" width="20" height="518" style="fill:rgb(50,98,115)" />
                  <circle cx="210" cy="100" r="50" style="fill:rgb(50,98,115)" />
                  <text x="300" y="100" style="text-anchor:left;font-size:36px;fill:black" >Phantom of the Opera</text>
                  <text x="300" y="150" style="text-anchor:left;font-size:24px;fill:black" >2023-06-07</text>
                  <text x="300" y="200" style="text-anchor:left;font-size:24px;fill:black" >Sydney Opera House</text>
                  <text x="300" y="250" style="text-anchor:left;font-size:24px;fill:black" >12345678-1234-1234-1234-123456789012</text>
                  <line x1="300" y1="300" x2="900" y2="300" style="stroke:rgb(0,0,0);stroke-width:2" />
                  <text x="300" y="350" style="text-anchor:left;font-size:24px;fill:black" >Evan Hughes</text>
                  <text x="300" y="400" style="text-anchor:left;font-size:24px;fill:black" >example@uq.edu.au</text>
                  <text x="300" y="450" style="text-anchor:left;font-size:24px;fill:black" >12345678-1234-1234-1234-123456789012</text>
                  <rect x="1190" y="0" width="10" height="518" style="fill:rgb(255,215,0)" />
                  <rect x="1000" y="80" width="150" height="1" style="fill:rgb(0,0,0)" />
                  ...
                  </svg>

        404:
          description: The ticket does not exist or has not been printed yet.
          content: {}
 
components:
  schemas:
    ReportActors:
      type: object
      example:
        id: "e571964f-f2b7-4200-9fb0-2af749092fa1"
      properties:
        id:
          type: string
          description: Unique identifier.
    ReportRecipients:
      type: object
      example:
        id: "e571964f-f2b7-4200-9fb0-2af749092fa1"
      properties:
        id:
          type: string
          description: Unique identifier.
    ReportLinks:
      type: object
      example:
        id: "e571964f-f2b7-4200-9fb0-2af749092fa1"
      properties:
        id:
          type: string
          description: Unique identifier.
    Email:
      type: object
      example:
        id: "e571964f-f2b7-4200-9fb0-2af749092fa1"
      properties:
        id:
          type: string
          description: Unique identifier.
    EmailPost:
      type: object
      example:
        id: "e571964f-f2b7-4200-9fb0-2af749092fa1"
      properties:
        id:
          type: string
          description: Unique identifier.
