certifi==2021.5.30
charset-normalizer==2.0.4
click==8.0.1
click-default-group==1.2.2
cloup==0.7.1
colorama==0.4.4
colour==0.1.5
commonmark==0.9.1
decorator==5.0.9
glcontext==2.3.4
idna==3.2
manim==0.9.0
manim-presentation==0.2.1
ManimPango==0.3.0
mapbox-earcut==0.12.10
moderngl==5.6.4
moderngl-window==2.4.0
multipledispatch==0.6.0
networkx==2.6.2
numpy==1.21.2
Pillow==8.3.1
pycairo==1.20.1
pydub==0.25.1
pyglet==1.5.19
Pygments==2.10.0
pyrr==0.10.3
requests==2.26.0
rich==10.8.0
scipy==1.7.1
screeninfo==0.6.7
six==1.16.0
tqdm==4.62.2
urllib3==1.26.6
watchdog==2.1.5
